
*{
    background-color: #d1d1d1;
    font-family: 'Roboto', Helvetica, sans-serif;
    font-weight: 400;
    margin: 4px;
    padding: 5px;
    align-items: center;
    justify-content: center;
    text-align: center;
}